<div>
  <div *ngIf="error" class="alert alert-danger" role="alert">
    {{ errorMsg }}
  </div>
  <div class="submit-form">
    <div *ngIf="!submitted && !firstTime">
      <div class="form-group">
        <label for="firstname">Brand ID</label>
        <input type="text" class="form-control" id="brandId" required [(ngModel)]="customer.brandId"
          name="brandId" />
        <label for="firstname">First Name</label>
        <input type="text" class="form-control" id="firstname" required [(ngModel)]="customer.firstName"
          name="firstname" />
        <label for="lastname">Last Name</label>
        <input type="text" class="form-control" id="lastname" required [(ngModel)]="customer.lastName"
          name="lastname" />
        <label for="address">Address</label>
        <input type="text" class="form-control" id="address" required [(ngModel)]="customer.address" name="address" />
        <label for="sin">SIN</label>
        <input type="text" class="form-control" id="sin" required [(ngModel)]="customer.sin" name="sin" />
        <label for="username">User Name</label>
        <input type="text" class="form-control" id="username" required [(ngModel)]="customer.userName"
          name="username" />
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" required [(ngModel)]="customer.password"
          name="password" />
        <label for="phoneNumber">Phone Number</label>
        <input type="text" class="form-control" id="password" required [(ngModel)]="customer.phoneNumber"
          name="phoneNumber" />
      </div>
      <button (click)="saveCustomer()" class="btn btn-success">Save New Customer</button>
    </div>

    <div *ngIf="submitted || firstTime">
      <div *ngIf="submitted" class="alert alert-primary" role="alert">Customer was added successfully!</div>
      <button class="btn btn-success" (click)="newCustomer()">Add New Customer</button>
    </div>
  </div>

  <div class="list row">
    <div class="col-md-12">
      <h4>Customer List</h4>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let cust of customers; let i = index">
          <div class="badge-warning col-md-12">
            <div class="row">
              <div class="col-md-3">custid={{ cust.custID }}</div>
              <div class="col-md-3">firstName={{ cust.firstName }}</div>
              <div class="col-md-3">lastName={{ cust.lastName }}</div>
              <div class="col-md-3">SIN={{ cust.sin }}</div>
            </div>
            <div class="row">
              <div class="col-md-3">brandId={{ cust.brandId }}</div>
              <div class="col-md-3">phone={{ cust.phoneNumber }}</div>
              <div class="col-md-6">address={{ cust.address }}</div>
            </div>
            <div class="row">
              <div class="col-md-3">userName={{ cust.userName }}</div>
              <div class="col-md-3">password={{ cust.password }}</div>
              <div class="col-md-6">registrationDate={{ cust.registrationDate }}</div>
            </div>

          </div>
        </li>
      </ul>
    </div>
  </div>
</div>